[Desktop Entry]
Name=gcloud
Name[zh_CN]=gcloud
GenericName=Baidu Pan Client for Linux
GenericName[zh_CN]=百度网盘客户端
Exec=gcloud
Icon=gcloud
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;FileTransfer;GTK;
